.grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 2%;

  padding: auto;

  min-width: 50em;
  width: 80%;
  height: 80%;
}

.topRow {
  font-size: x-large;
  text-align: center;
}

.leftRow {
  padding-top: 30%;
  font-size: x-large;
  text-align: right;
}
