.square {
  aspect-ratio: 1/ 1;
  display: block;
  align-items: center;
  text-align: right;
  padding: 5%;

  background-color: #fff;

  border: black;
  border-style: solid;
}

.hitSquare {
  background-color: black;
}

.activeSquare:hover {
  background-color: grey;
}

.occupiedSquare {
  background-color: red;
}
