.square {
  aspect-ratio: 1/ 1;
  display: block;
  align-items: center;
  text-align: right;
  padding: 5%;

  color: black;

  border: black;
  border-style: solid;
}

.hitSquare {
  background-color: black;
}

.activeSquare {
  background-color: #fff;
}

.activeSquare:hover {
  background-color: grey;
}

.occupiedSquare {
  background-color: green;
}
